<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout_style.css">
</head>

<body>

    <header class="header">
        <h1>Header</h1>
    </header>
    <nav class="nav">
        Navigation
    </nav>
    <div class="main">

    </div>


    <footer class="footer">
        <label for="" class="font-size">
            Footer
        </label>
    </footer>


</body>

</html>